<%= form_with url: "/parks/#{@park.id}/", method: :patch, local: true do |form| %>
<div class="form-control" align="center" style="background-color: #DEB887">
  <div class="form-control" align="center" >
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= check_box_tag :kayaking_available %>
    <%= label_tag(:kayaking_available, "Kayaking is available at this park") %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= check_box_tag :camping_allowed %>
    <%= label_tag(:camping_allowed, "You can camp at this park") %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= form.label :park_rating, "Park rating out of 5" %>
    <%= form.number_field :park_rating, step: 0.1, max: 5 %>
  </div>
  <br>
  <div class="form-group" align="center" >
    <%= form.submit "Update #{@park.name}" %>
  </div>
</div>
<% end %>
