<h1>Artist Albums</h1>

<h2><%= @artists.name%></h2>

<% @albums.each do |album|%>
  <p>Album Name:<%= album.name%></p>
  <p>Number of Tracks:<%= album.number_of_songs%></p>
  <p>Nominated:<%= album.nominated%></p>
<%end%>

<p><%= button_to 'Add Album', "/artists/#{@artists.id}/albums/new", method: :get %></p>