<h1>Artist Albums</h1>

<h2><%= @artists.name%></h2>
<p><%= link_to 'Sort by Title', "/artists/#{@artists.id}/albums?sort=true" %></p>

<% @albums.each do |album|%>
  <p>Album Name:<%= album.name%></p>
  <p>Number of Tracks:<%= album.number_of_songs%></p>
  <p>Nominated:<%= album.nominated%></p>

  <%= button_to "Edit #{album.name}", "/albums/#{album.id}/edit", method: :get %>
  <%= button_to "Delete #{album.name}", "/albums/#{album.id}", method: :delete%>
<%end%>

<p><%= button_to 'Add Album', "/artists/#{@artists.id}/albums/new", method: :get %></p>