<h1>Create an Album</h1>

<%= form_with url: "/artists/#{@artist.id}/albums", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :number_of_songs %>
  <%= form.text_field :number_of_songs %>

  <%= form.label :nominated %>
  <%= form.text_field :nominated %>

  <%= form.submit 'Add Album' %>
<% end %>