<table class="table table-success table-striped table-hover">

  <h1 align="center">Parks located in <%= @states.name %></h1>
  <thead> </thead>
  <div style="text-align:center">

    <br/>
    <a class="btn btn-secondary"  style="align: center" href=<%="/states/#{@states.id}/parks/?sort=name"%>>Sort by Name</a>
  <br/>
  <br/>
  <%= form_with url: "/states/#{@states.id}/parks", method: :get, local: true do |form|  %>
  <%= form.label :park_rating, "Minimum Park Rating Desired" %>
  <%= form.number_field :park_rating, step: 0.1, max: 5 %>
  <%= form.submit %>

  <% end %>
  <br/>
  <br/>
    <%= button_to "New Park in #{@states.name}", "/states/#{@states.id}/parks/new", method: :get, local: true %>
    why is the green one "disabled" for my test? They both work
    <a class="btn btn-success"  style="align: center" href=<%="/states/#{@states.id}/parks/new"%>><%="New Park in #{@states.name}"%></a>
    <br/>
    <br/>
    <br/>
  </div>
  <% @parks.each do |park| %>
      <tr><th style="text-align: center"><a href=<%="/parks/#{park.id}"%> class="btn btn-primary"><%= park.name %></a></th></tr>
    <% if park.camping_allowed == true %>
      <tr>
        <td style="text-align: center">Camping allowed</td>
      </tr>
    <% else %>
      <tr>
        <td style="text-align: center">Camping not allowed</td>
      </tr>
    <% end %>

    <% if park.kayaking_available == true %>
      <tr>
        <td style="text-align: center">Kayaking available</td>
      </tr>
    <% else %>
      <tr>
        <td style="text-align: center">Kayaking not available</td>
      </tr>
    <% end %>
      <tr>
        <td style="text-align: center">Overall park rating: <%= park.park_rating %></td>
      </tr>
      <tr>
        <td style="text-align: center"><%= button_to "Delete #{park.name}", "/parks/#{park.id}", method: :delete, data: { confirm: "Are you sure? It's a crazy world out there." }, local: true %>
</td>
      </tr>
      <tr>
        <td style="text-align: center"></td>


  <% end %>
</table>

<div style="text-align:center">
  <a class="btn btn-secondary"  style="align: center" href=<%="/states/#{@states.id}"%>>Back to State Overview</a>
</div>
