<%= form_with url: "/states/#{@state.id}/", method: :patch, local: true do |form| %>
<div class="form-control" align="center" style="background-color: #DEB887">
  <div class="form-control" align="center" >
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= form.text_field :region %>
    <%= form.label :region, "Region of Country" %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= check_box_tag :military_discount %>
    <%= label_tag(:military_discount, "State has military discount for camping reservations") %>
  </div>
  <br>
  <div class="form-control" align="center" >
    <%= form.text_field :green_rank %>
    <%= form.label :green_rank %>
  </div>
  <br>
  <div class="form-group" align="center" >
    <%= form.submit "Update #{@state.name}" %>
  </div>
  <br/>
  <div class="form-group" align="center" >
    <%= button_to "Delete #{@state.name}", "/states/#{@state.id}", method: :delete %>
  </div>
</div>
<% end %>
