<%= form_with url: '/states', method: :post, local: true do |form| %>
  <div class="form-control" align="center" style="background-color: #DEB887">
    <div class="form-control" align="center" >
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :region, "Region of Country" %>
      <%= form.text_field :region %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= check_box_tag(:military_discount) %>
      <%= label_tag(:military_discount, "State has military discount for camping reservations") %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :green_rank %>
      <%= form.text_field :green_rank %>
    </div>
    <br/>
    <div class="form-group" align="center" >
    <%= form.submit "Create State" %>
    </div>
  </div>
  <% end %>
  <h1 style="text-align: center"><iframe src="https://cdn.wallethub.com/wallethub/embed/11987/ecofriendly-geochart.html" width="556" height="347" frameBorder="0" scrolling="no"></iframe>
    <div style="width:556px;font-size:12px;color:#888;">State Environmental Rankings</div>
