<section id='display'>
  <table class="table table-success table-hover">
    <thead></thead>
      <tr>
        <th>This is the page for <%= "#{@state.name}" %>.</th>
      <tr>

        <td>It is located in the <%= "#{@state.region}" %> region.</td>
      </tr>
      <% if @state.military_discount == true %>
        <tr>
          <td>It has a military discount for camping reservations!</td>
        </tr>
      <% elsif @state.military_discount == false %>
        <tr>
          <td>It does not have a military discount for camping reservations.</td>
        </tr>
      <% end %>
        <tr>
          <td>This state has an environmental ranking of: <%= @state.green_rank %></td>
        <tr>
          <td>Number of Parks in this State: <%= @state.parks_count %></td>
        </tr>

</table>
</section>
<tr><a class="btn btn-primary" href=<%="/states/#{@state.id}/parks"%>>State Parks in <%= "#{@state.name}" %></a></tr>
<tr><a class="btn btn-primary" href=<%="/states/"%>>Back to States</a></tr>


<p>
<p></p>
